.tree{
    position: relative;
    z-index: 1;
}

.tree_one{
    width: 13px;
    height: 100px;
    background: #3D2B1F;
    position: absolute;
    margin-top: 330px;
    margin-left: 250px;
    border-radius: 20%;
    box-shadow: 
        0 -150px 0 50px #008000
}

.tree_two{
    width: 13px;
    height: 100px;
    background: #3D2B1F;
    position: absolute;
    margin-top: 330px;
    margin-left: 400px;
    border-radius: 20%;
    box-shadow: 
        0 -150px 0 50px #008000 
}

.tree_three{
    width: 13px;
    height: 100px;
    background: #3D2B1F;
    position: absolute;
    margin-top: 150px;
    margin-left: 330px;
    border-radius: 20%;
    box-shadow: 
        0 -150px 0 50px #008000  
}

.house{
    margin: 0 auto;
    width: 370px;
    height: 320px;
    background: #C2B280;
    position: relative;
    margin-top: 400px;
    box-shadow: 
        -195px -495px 0 0px #FFFFFF,
        195px -495px 0 0px #FFFFFF,
        -210px -480px 0 0px #FFFFFF,
        210px -480px 0 0px #FFFFFF,
        -230px -460px 0 0px #FFFFFF,
        230px -460px 0 0px #FFFFFF,
        -250px -440px 0 0px #FFFFFF,
        250px -440px 0 0px #FFFFFF,
        -270px -420px 0 0px #FFFFFF,
        270px -420px 0 0px #FFFFFF,
        -290px -400px 0 0px #FFFFFF,
        290px -400px 0 0px #FFFFFF,
        -310px -380px 0 0px #FFFFFF,
        310px -380px 0 0px #FFFFFF,
        -330px -360px 0 0px #FFFFFF,
        330px -360px 0 0px #FFFFFF,
        -350px -340px 0 0px #FFFFFF,
        350px -340px 0 0px #FFFFFF,
        -370px -320px 0 0px #FFFFFF,
        370px -320px 0 0px #FFFFFF,
        -390px -300px 0 0px #FFFFFF,
        390px -300px 0 0px #FFFFFF,
        -410px -280px 0 0px #FFFFFF,
        410px -280px 0 0px #FFFFFF,
        0px -10px 0 0px #E34234,
        0px -20px 0 0px #E96B39,
        0px -30px 0 0px #E34234,
        0px -40px 0 0px #E96B39,
        0px -50px 0 0px #E34234,
        0px -60px 0 0px #E96B39,
        0px -70px 0 0px #E34234,
        0px -80px 0 0px #E96B39,
        0px -90px 0 0px #E34234,
        0px -100px 0 0px #E96B39,
        0px -110px 0 0px #E34234,
        0px -120px 0 0px #E96B39,
        0px -130px 0 0px #E34234,
        0px -140px 0 0px #E96B39,
        0px -150px 0 0px #E34234,
        0px -160px 0 0px #E96B39,
        0px -170px 0 0px #E34234,
        0px -180px 0 0px #E96B39,
        0px -190px 0 0px #E34234
}

.house::before{
    content: '';
    width: 40px;
    height: 80px;
    position: absolute;
    background: #FFFFFF;
    top: 80px;
    left: 80px;
    box-shadow: 
        42px 0px 0 0px #FFFFFF,
        200px 140px 0 15px #FFFFFF,
        200px 100px 0 15px #FFFFFF
}

.house::after{
    content: '';
    width: 5px;
    height: 15px;
    position: absolute;
    background: #866423;
    top: 230px;
    left: 270px;
    box-shadow: 
        0px 0px 0 5px #3D2B1F,
        0px -315px 0 10px #866423,
        0px -330px 0 5px #866423,
        0px -340px 0 0px #866423,
        10px -360px 4px 0px #808080,
        20px -370px 4px 0px #808080,
        30px -380px 4px 0px #808080,
        40px -390px 4px 0px #808080,
        50px -400px 4px 0px #808080
}
