/*variable*/

$blue-color: #1c54b2;
$white-color: #ffffff;

/*mixin*/

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin basic-button($width, $height, $background, $color, $border-radius){
  width: $width;
  height: $height;
  line-height: $height;
  background: $background;
  color: $color;
  border-radius: $border-radius;
}

.wrapper{
  @include size(60%, 80%);
  margin: 0 auto;
  display: flex;
}

.ball-container{
  @include size(200px, 400px);
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient($white-color, $white-color), radial-gradient(circle at top right, $blue-color 0%, #00e676 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ball{
  @include size(100px, 100px);
  background-image: radial-gradient($white-color, #5393ff, #2979ff, $blue-color);
  border-radius: 100%;
  margin: 0 20px 20px 20px;
}

.text-container{
  align-self: center;
  margin: 10px 10px 10px 10px;
}

.text-container {
  p {
    font-size: 20px;
    text-align: justify;
  }
}

#bounce {
  @include basic-button(200px, 50px, $blue-color, $white-color, 5px);
  border-style: none;
  font-weight: bold;
}

.bounce{
  animation-name: bounce;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.07,0.8,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(0, 300px, 0); }
}
