.rose{
    margin: 0 auto;
    width: 13px;
    height: 300px;
    background: #198419;
    position: relative;
    bottom: -50px;
    margin-top: 130px;
    border-radius: 20%;
    box-shadow: 
        0 -350px 0 50px red;    
}
