#circle_one{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background: #ff0000;
    opacity: 0.8; 
}

#circle_two{
    position: absolute;
    top: 275px;
    left: 150px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background: #0000ff;
    opacity: 0.8;  
}

#circle_three{
    position: absolute;
    top: 50px;
    left: 275px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background: #00ff00;
    opacity: 0.8; 
}
