body{
    margin: 0px;
    padding: 0px;
    background-color: #323232;
}

#main{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#objectOne{
    position: absolute;
    top: 200px;
    left: 700px;
    opacity: 0.5;
    -webkit-filter: blur(4px);
    transform: rotate(20deg);
}

#objectTwo{
    position: absolute;
    top: 20px;
    left: 50px;
}

#objectThree{
    position: absolute;
    left: 950px;
    top: 200px;
    opacity: 0.3;
    -webkit-filter: blur(3px);
    transform: rotate(-20deg);
}
